@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  background: linear-gradient(90deg, #141414, #0e0e0e);
  background-size: 300% 300%;
  animation: gradient 8s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  --line-color: #e5e7eb;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 3rem;
}

a {
  text-decoration: none;
}

main {
  flex-grow: 1;
  width: 100%;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  border: 1px solid white;
  border-radius: 10px;
  background: white;
  transform-origin: 0%;
}
